DATABASE_URL="mysql://root:university@localhost:3306/sistemademensagem"

JWT_SECRET="dsadjaskdhasdkjhsakjdhsae7qw89e7123ejksdajasudio"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD="university"