DATABASE_URL="mysql://root:university@localhost:3306/sistemademensagem" # dev environment
# DATABASE_URL="mysql://root:university@db:3306/sistemademensagem" # container environment

JWT_SECRET="dsadjaskdhasdkjhsakjdhsae7qw89e7123ejksdajasudio"

REDIS_HOST="localhost" # dev environment
# REDIS_HOST="redis" # container environment
REDIS_PORT=6379
REDIS_PASSWORD="university"